.exercises-container {
  background-color: #f8eaea; /* бледо червен */
  padding: 30px;
  border-radius: 16px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
   
   .exercises-container h2 {
     text-align: center;
     margin-bottom: 20px;
     color: #6b0000;
   }
   
   .exercises-container table {
     width: 100%;
     table-layout: auto;
     border-collapse: collapse;
   }
   
   .exercises-container td, .exercises-container th {
     padding: 10px;
     border: 1px solid #b3b2b2;
     text-align: center;
   }
   
   
   .exercises-container th {
     background-color: #bfa4a4;
   }
   
   .exercises-container input {
     margin: 5px;
     padding: 8px;
     width: 100px;
     border-radius: 5px;
     border: 1px solid #ccc;
   }
   
   .exercises-container button {
     background-color: #7cb87c;
     color: white;
     padding: 10px 15px;
     border: none;
     border-radius: 6px;
     cursor: pointer;
     margin-top: 10px;
     transition: background 0.3s ease;
   }
   
   .exercises-container button:hover {
     background-color: #383e38;
   }
   
   .delete-btn {
     background-color: #ae2e2e;
     color: rgb(253, 249, 249);
     padding: 6px 10px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
   }
   
   .delete-btn:hover {
     background-color: #821d1d;
   }

   .create-workout-btn {
     background-color: #6b0000;
     color: white;
     padding: 10px 20px;
     border: none;
     margin: 10px 0 20px;
     border-radius: 5px;
     cursor: pointer;
   }
   
   .create-workout-btn:hover {
     background-color: #8b0000;
   }

   .dropdown {
     margin-bottom: 15px;
     padding: 8px;
     width: 100%;
     border-radius: 5px;
     border: 1px solid #ccc;
   }

   .create-btn {
     padding: 8px 12px;
     background-color: #6b0000;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
   }
   
   .create-btn:hover {
     background-color: #510000;
   }
   
   
   
   