.workout-schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(202, 183, 183, 0.4);
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 0;
  padding-bottom: 0;
}

   
   .workout-schedule-container h2 {
     color: #561e1e;
     margin-bottom: 40px;
   }
   
   .react-calendar {
     width: 100%;
     max-width: 400px;
     border: none;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   }
   
   .training-day {
    background-color: #add381; 
    color: white;
  }
  
  .rest-day {
    background-color: #cd7670; 
    color: white;
  }
  
  .react-calendar__tile--now {
    background-color: #939390 !important; 
    color: black !important;
    font-weight: bold;
  }
  
   
   .workout-graph {
     margin-top: 20px;
     width: 100%;
     max-width: 400px;
     text-align: left;
   }
   
   .workout-graph ul {
     list-style: none;
     padding: 0;
   }
   
   .workout-graph li {
     padding: 10px;
     margin-top: 0;
     padding-top: 0;
     border-bottom: 1px solid #ddd;
     color: #333;
   }
   
   .workout-graph li.training-day {
     color: #d32f2f;
     font-weight: bold;
   }
   
   .workout-graph li.rest-day {
     color: #fbc02d;
     font-weight: bold;
   }
   
   .schedule-container {
    max-height: 80vh; /* или примерно 600px */
    overflow-y: auto;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .calendar-and-graph {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
  }
  
  .calendar-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  
  .scrollable-graph {
    flex: 1;
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .scrollable-graph ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .scrollable-graph li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }
  
  .scrollable-graph li.training-day {
    background-color: #709547;
    color: white;
    font-weight: bold;
  }
  
  .scrollable-graph li.rest-day {
    background-color: #c7615a;
    color: white;
    font-weight: bold;
  }
  
  .selected-workout-info {
    margin-top: 20px;
    padding: 15px;
    background: rgba(250, 2, 2, 0.15);
    border-radius: 8px;
    color: white;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  
  